.help-container {
  padding: 2rem;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    // color: #333;
  }

  .help-cards {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-help{
    border: 1px solid #e448a3;
    border-radius: 14px;
    padding: 10px 50px;
    cursor: pointer;
    &:hover{
      transform: translateY(-10%);
      transition: .3s ease-out;
    }
  }
}
