.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;

  .about-img {
    flex: 1;
    img {
      max-width: 100%;
      border-radius: 12px;
    }
  }

  .about-text {
    flex: 1;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 2rem;
      // color: #333;
    }

    p {
      font-size: 1rem;
      color: #696969;
      line-height: 1.6;
    }

    .custom-btn {
      background-color: #e448a3 !important;
      color: #fff;
      padding: 0.6rem 1.5rem;
      font-weight: bold;
      border-radius: 8px;
      transition: background-color 0.3s ease;
      width: 300px;

      &.clicked {
        background-color: #cc4192 !important;
      }
    }
  }
}

.about-company-title {
  margin-left: 40px;
}

@media screen and (max-width: 900px) {
  .about-container {
    flex-direction: column;
  }
}
