@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

body.light {
  background: #fff;
  color: #000;

  .header {
    background-color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 110px;
    width: 100%;
    @media screen and (max-width: 1024px){
      height: 100px;
    }
    @media screen and (max-width: 1356px) {
      height: 100px;
    }
  }

  .search-box input {
    color: #000;
    border: 1px solid #e448a3;
  }

  .nav-links a,
  .nav-links button {
    color: #000;
    margin-right: 30px;
  }
}

body.dark {
  background: #121212;
  color: #fff;

  .header {
    background-color: #1f1f1f;
  }

  .search-box input {
    background: #2a2a2a;
    color: #fff;
    border: 1px solid #e448a3;
  }

  .nav-links a,
  .nav-links button {
    color: #fff;
    margin-right: 30px;
  }
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  z-index: 999;
  flex-wrap: wrap;
  gap: 110px;
  width: 100%;
  @media screen and (max-width: 900px){
    height: 30px !important;
  }
  @media screen and (max-width: 1024px){
    height: 100px;
  }
  @media screen and (max-width: 1356px) {
    height: 100px;
  }

  .logo img {
    width: 110px;
  }

  .search-box {
    flex: 1;
    margin: 0 20px;

    input {
      width: 100%;
      max-width: 400px;
      padding: 8px 12px;
      border-radius: 5px;
      font-size: 14px;
      transition: all 0.3s ease;
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
    @media screen and (max-width: 900px) {
      display: none;
    }
    @media screen and (max-width: 1024px) {
      margin-top: -150px;
    }
    @media screen and (max-width: 1356px) {
      margin-top: -150px;
    }
    &.open {
      display: block;
      position: absolute;
      top: 0px;
      right: 0;
      height: 100vh;
      // background: #000;
      width: 200px;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 12px;
      /* From https://css.glass */
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      position: fixed;
      @media screen and (max-width: 1024px){
        padding-top: 150px;
      }
    }

    a,
    button {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 14px;
      background: none;
      border: none;
      cursor: pointer;
      text-decoration: none;
      padding: 6px 0;
    }

    .theme-toggle svg {
      font-size: 20px;
    }
  }

  .menu-toggle {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    @media screen and (max-width: 900px) {
      position: fixed;
      right: 5px;
      display: flex;
      z-index: 11;
    }

    span {
      width: 25px;
      height: 3px;
      background-color: currentColor;
      border-radius: 3px;
      transition: all 0.3s ease;
    }

    &.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    &.active span:nth-child(2) {
      opacity: 0;
    }

    &.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}
