.product-slider {
  max-width: 1000px;
  margin: 40px auto;
  position: relative;

  .slider-window {
    overflow: hidden;
    position: relative;

    .slider-track {
      display: flex;
      transition: transform 0.4s ease-in-out;
      width: 1000%;
    }

    .nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #ec1b30;
      color: #fff;
      border: none;
      font-size: 30px;
      // padding: 10px 14px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 10;

      &.prev {
        left: 30px;
      }
      &.next {
        right: 10px;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 8px;

    .dot {
      width: 10px;
      height: 10px;
      background: #ccc;
      border-radius: 50%;
      cursor: pointer;

      &.active {
        background: #ec1b30;
      }
    }
  }
}
